@import url("https://fonts.googleapis.com/css2?family=Sriracha&family=Ubuntu+Condensed&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}

/* HTML5 display-role reset */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}

* {
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
   background-color: lightgrey;
}

nav {
    padding-top: 1rem;
 }
 
 a {
    text-decoration: none;
    font-size: 2rem;
    background-color: white;
    color: black;
    margin: 5rem;
    padding: 1rem;
 }

 #logo {
    height: 8rem;
    width: 25rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
 }

 header {
    height: 12vh;
    width: 100vw;
    padding: 2rem;
    background-color: lightgray;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
 }

 #top {
    display: flex; 
    height: 88vh;
    width: 100vw;
 }

 #steve-halama {
    height: 88vh;
    width: 80vw;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 12rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

 #Main-Description {
    width: 80vw;
    background-color: white;
    text-align: center;
    color: black;
    font-size: 2rem;
    margin-left: 12rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }

 #Mission-Statement {
    background-color: white; 
    text-align: center;
    height: 10rem;
    width: 80vw;
    color: black;
    font-size: 5rem;
    margin-left: 12rem;
    padding-top: 2rem;
 }